<a href="https://colab.research.google.com/github/RMVISHARA/Male-dataset/blob/main/Data_Preparation_CW1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [28]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [29]:
import pandas as pd
import numpy as np

df = pd.read_csv('/content/drive/MyDrive/Data mining coursework 1/Raw_Males_VF_Dataset_Coursework1.csv')
df.head(10)

,SUBJECT_ID,SEX,AGE_years,BMI,HEIGHT_cm,WEIGHT_kg,WAIST_CIRCUMFERENCE_cm,DIASTOLIC_BLOOD_PRESSURE_mmHg,SYSTOLIC_BLOOD_PRESSURE_mmHg,WALK_DURATION_PER_DAY_MINUTES,COMPUTER_USE_TIME_PER_DAY_HOURS,SMOKING_STATUS,DISCONTINUED_NO_,CIGARETTES_CONSUMED_PER_DAY,Visceral_Fat_Volume_Litres
0,B0011,M,47,46,187.0,152.24,154,133,178.0,52,7,0.0,XNBH,NaN,-0.76
1,B0012,M,52,54,182.0,167.36,139,111,187.0,50,3,0.0,NaN,NaN,-0.59
2,B0013,M,62,28,175.0,82.92,93,118,160.0,58,6,0.0,NaN,NaN,0.59
3,B0014,M,56,26,1.8,76.45,85,91,139.0,151,2,0.0,NaN,NaN,0.50
4,B0015,M,48,25,1.7,65.36,84,76,98.0,257,6,0.0,NaN,NaN,0.39
5,B0016,M,70,27,180.0,76.57,95,83,127.0,68,5,0.0,NaN,NaN,0.27
6,B0017,M,65,21,189.0,63.37,76,93,123.0,85,3,0.0,NaN,NaN,0.24
7,B0018,M,54,24,192.0,81.79,87,81,123.0,38,10,0.0,NaN,NaN,0.23
8,B0019,M,49,23,189.0,74.41,80,95,136.0,44,3,0.0,NaN,NaN,0.22
9,B0020,M,57,26,188.0,84.00,91,82,109.0,61,0,0.0,NaN,NaN,0.18

In [30]:
# display summary statistics and measurement scale types
df.describe(include='all')

,SUBJECT_ID,SEX,AGE_years,BMI,HEIGHT_cm,WEIGHT_kg,WAIST_CIRCUMFERENCE_cm,DIASTOLIC_BLOOD_PRESSURE_mmHg,SYSTOLIC_BLOOD_PRESSURE_mmHg,WALK_DURATION_PER_DAY_MINUTES,COMPUTER_USE_TIME_PER_DAY_HOURS,SMOKING_STATUS,DISCONTINUED_NO_,CIGARETTES_CONSUMED_PER_DAY,Visceral_Fat_Volume_Litres
count,2864,2864,2864.000000,2864.000000,2864.000000,2864.000000,2864.000000,2864.000000,2859.000000,2864.000000,2864.000000,2862.000000,2,129.000000,2864.000000
unique,2864,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN
top,B0011,M,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,XNBH,NaN,NaN
freq,1,2864,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN
mean,NaN,NaN,62.324721,29.284567,182.935929,91.345150,99.055168,91.596718,133.770199,81.696578,4.531425,0.040531,NaN,23.527132,5.553844
std,NaN,NaN,8.509000,3.885323,8.671651,13.678241,10.137395,10.631628,16.834580,64.805761,4.421835,0.197236,NaN,13.259476,2.626842
min,NaN,NaN,41.000000,20.000000,1.700000,55.410000,70.000000,48.000000,90.000000,1.000000,0.000000,0.000000,NaN,2.000000,-0.760000
25%,NaN,NaN,57.000000,27.000000,178.000000,81.917500,92.000000,84.000000,122.000000,46.000000,2.000000,0.000000,NaN,12.000000,3.680000
50%,NaN,NaN,63.000000,29.000000,183.000000,89.725000,98.000000,91.000000,132.000000,67.000000,3.000000,0.000000,NaN,22.000000,5.350000
75%,NaN,NaN,69.000000,31.000000,188.000000,98.740000,105.000000,99.000000,144.000000,92.000000,6.000000,0.000000,NaN,34.000000,7.152500
max,NaN,NaN,190.000000,54.000000,210.000000,168.770000,154.000000,133.000000,192.000000,656.000000,69.000000,1.000000,NaN,50.000000,16.060000

In [31]:
df.isna().sum()

SUBJECT_ID                            0
SEX                                   0
AGE_years                             0
BMI                                   0
HEIGHT_cm                             0
WEIGHT_kg                             0
WAIST_CIRCUMFERENCE_cm                0
DIASTOLIC_BLOOD_PRESSURE_mmHg         0
SYSTOLIC_BLOOD_PRESSURE_mmHg          5
WALK_DURATION_PER_DAY_MINUTES         0
COMPUTER_USE_TIME_PER_DAY_HOURS       0
SMOKING_STATUS                        2
DISCONTINUED_NO_                   2862
CIGARETTES_CONSUMED_PER_DAY        2735
Visceral_Fat_Volume_Litres            0
dtype: int64

In [32]:
df.isna().sum()/len(df)*100

SUBJECT_ID                          0.000000
SEX                                 0.000000
AGE_years                           0.000000
BMI                                 0.000000
HEIGHT_cm                           0.000000
WEIGHT_kg                           0.000000
WAIST_CIRCUMFERENCE_cm              0.000000
DIASTOLIC_BLOOD_PRESSURE_mmHg       0.000000
SYSTOLIC_BLOOD_PRESSURE_mmHg        0.174581
WALK_DURATION_PER_DAY_MINUTES       0.000000
COMPUTER_USE_TIME_PER_DAY_HOURS     0.000000
SMOKING_STATUS                      0.069832
DISCONTINUED_NO_                   99.930168
CIGARETTES_CONSUMED_PER_DAY        95.495810
Visceral_Fat_Volume_Litres          0.000000
dtype: float64

In [33]:
# Find the index of the row with age 190
index_to_drop = df[df['AGE_years'] == 190].index

# Drop the row from the dataframe
df.drop(index_to_drop, inplace=True)

In [34]:
# Multiply records with values less than 2 by 100
df.loc[df['HEIGHT_cm'] < 2, 'HEIGHT_cm'] *= 100

In [35]:
from sklearn.impute import SimpleImputer

# Calculate mean blood pressure for each age category
age_groups = df.groupby('AGE_years')
mean_bp_by_age = age_groups['SYSTOLIC_BLOOD_PRESSURE_mmHg'].mean()

# Create a function to impute missing values with mean blood pressure by age
def impute_bp(row):
    if pd.isnull(row['SYSTOLIC_BLOOD_PRESSURE_mmHg']):
        return mean_bp_by_age[row['AGE_years']]
    else:
        return row['SYSTOLIC_BLOOD_PRESSURE_mmHg']

# Apply the imputation function to the 'SYSTOLIC_BLOOD_PRESSURE_mmHg' column
imputer = SimpleImputer(strategy='mean')
df['SYSTOLIC_BLOOD_PRESSURE_mmHg'] = df.apply(impute_bp, axis=1)
print(df.apply(impute_bp, axis=1))

0       178.0
1       187.0
2       160.0
3       139.0
4        98.0
        ...
2859    123.0
2860    108.0
2861    130.0
2862    159.0
2863    155.0
Length: 2863, dtype: float64

In [36]:

# Replace blank values with 0 in the 'CIGARETTES_CONSUMED_PER_DAY' column
df['CIGARETTES_CONSUMED_PER_DAY'].fillna(0, inplace=True)

In [37]:

# Calculate the mean computer use time per day for each age group
mean_computer_use_time = df.groupby('AGE_years')['COMPUTER_USE_TIME_PER_DAY_HOURS'].mean()

# Replace values greater than 24 with the mean computer use time for that age group
for age, mean_time in mean_computer_use_time.items():
    df.loc[(df['AGE_years'] == age) & (df['COMPUTER_USE_TIME_PER_DAY_HOURS'] > 24), 'COMPUTER_USE_TIME_PER_DAY_HOURS'] = np.nan
    imp = SimpleImputer(missing_values=np.nan, strategy='mean')
    df.loc[df['AGE_years'] == age, 'COMPUTER_USE_TIME_PER_DAY_HOURS'] = imp.fit_transform(df.loc[df['AGE_years'] == age, ['COMPUTER_USE_TIME_PER_DAY_HOURS']])

In [38]:

# Make negative values in the 'Visceral_Fat_Volume_Litres' column positive
df['Visceral_Fat_Volume_Litres'] = df['Visceral_Fat_Volume_Litres'].abs()
print(df['Visceral_Fat_Volume_Litres'].abs())

0        0.76
1        0.59
2        0.59
3        0.50
4        0.39
        ...
2859    14.82
2860    14.91
2861    15.19
2862    16.05
2863    16.06
Name: Visceral_Fat_Volume_Litres, Length: 2863, dtype: float64

In [39]:
df['SMOKING_STATUS'] = df['CIGARETTES_CONSUMED_PER_DAY'].apply(lambda x: 1 if x > 0 else 0)
print(df['CIGARETTES_CONSUMED_PER_DAY'].apply(lambda x: 1 if x > 0 else 0))

0       0
1       0
2       0
3       0
4       0
       ..
2859    0
2860    0
2861    0
2862    0
2863    0
Name: CIGARETTES_CONSUMED_PER_DAY, Length: 2863, dtype: int64

In [40]:
# Save the updated dataset to a new CSV file
df.to_csv('/content/drive/MyDrive/Data mining coursework 1/updated male_dataset.csv', index=False)

Naive Bayes

In [19]:
df.head()

,SUBJECT_ID,SEX,AGE_years,BMI,HEIGHT_cm,WEIGHT_kg,WAIST_CIRCUMFERENCE_cm,DIASTOLIC_BLOOD_PRESSURE_mmHg,SYSTOLIC_BLOOD_PRESSURE_mmHg,WALK_DURATION_PER_DAY_MINUTES,COMPUTER_USE_TIME_PER_DAY_HOURS,SMOKING_STATUS,DISCONTINUED_NO_,CIGARETTES_CONSUMED_PER_DAY,Visceral_Fat_Volume_Litres,SMOKING_STATUS
0,B0011,M,47,46,187.0,152.24,154,133,178.0,52,7.0,0.0,XNBH,0.0,0.76,0
1,B0012,M,52,54,182.0,167.36,139,111,187.0,50,3.0,0.0,NaN,0.0,0.59,0
2,B0013,M,62,28,175.0,82.92,93,118,160.0,58,6.0,0.0,NaN,0.0,0.59,0
3,B0014,M,56,26,180.0,76.45,85,91,139.0,151,2.0,0.0,NaN,0.0,0.50,0
4,B0015,M,48,25,170.0,65.36,84,76,98.0,257,6.0,0.0,NaN,0.0,0.39,0

In [20]:
#check number of rows and columns in dataset
df.shape

(2863, 16)

In [21]:
#create a dataframe with all training data except the target column
X = df.drop(columns=['Visceral_Fat_Volume_Litres'])
#check that the target variable has been removed
X.head()

,SUBJECT_ID,SEX,AGE_years,BMI,HEIGHT_cm,WEIGHT_kg,WAIST_CIRCUMFERENCE_cm,DIASTOLIC_BLOOD_PRESSURE_mmHg,SYSTOLIC_BLOOD_PRESSURE_mmHg,WALK_DURATION_PER_DAY_MINUTES,COMPUTER_USE_TIME_PER_DAY_HOURS,SMOKING_STATUS,DISCONTINUED_NO_,CIGARETTES_CONSUMED_PER_DAY,SMOKING_STATUS
0,B0011,M,47,46,187.0,152.24,154,133,178.0,52,7.0,0.0,XNBH,0.0,0
1,B0012,M,52,54,182.0,167.36,139,111,187.0,50,3.0,0.0,NaN,0.0,0
2,B0013,M,62,28,175.0,82.92,93,118,160.0,58,6.0,0.0,NaN,0.0,0
3,B0014,M,56,26,180.0,76.45,85,91,139.0,151,2.0,0.0,NaN,0.0,0
4,B0015,M,48,25,170.0,65.36,84,76,98.0,257,6.0,0.0,NaN,0.0,0

In [22]:
#separate target values
y = df['Visceral_Fat_Volume_Litres'].values
#view target values
y[0:5]

array([0.76, 0.59, 0.59, 0.5 , 0.39])

In [24]:
from sklearn.model_selection import train_test_split

# Split dataset into train and test data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)

In [25]:
from sklearn.neighbors import KNeighborsClassifier
# Create KNN classifier
knn = KNeighborsClassifier(n_neighbors = 3)
# Fit the classifier to the data
knn.fit(X_train,y_train)

ValueError: ignored